
@{
    ViewData["Title"] = "DisplayFavorites";
}
@model List<Movies>

<h1 class="moreblink">Your Favorite Movies</h1>

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rated</th>
        <th>Released</th>
        <th>Actors</th>
        <th>Director</th>

    </tr>

    @foreach (Movies movie in Model)
    {
        <tr>
            <td class="title">@movie.Title</td>
            <td class="year">@movie.Year</td>
            <td class="rated">@movie.Rated</td>
            <td class="released">@movie.Released</td>
            <td class="actors">@movie.Actors</td>
            <td class="director">@movie.Director</td>

            <td>
                <a href="../FavoriteMovies/DeleteFav?id=@movie.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>

    }

</table>


<a href="../FavoriteMovies/GetMovieBySearch" class="btn btn-warning">Search for another movie</a>