
@{
    ViewData["Title"] = "FavoriteMovies";
}
@model List<Movies>

<h1>Favorite Movies</h1>

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rated</th>
        <th>Released</th>
        <th>Actors</th>
        <th>Director</th>
    </tr>
    @foreach (Movies movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Year</td>
            <td>@movie.Rated</td>
            <td>@movie.Released</td>
            <td>@movie.Actors</td>
            <td>@movie.Director</td>
            <td>
                <a href="../FavoriteMovies/DeleteFav?id=@movie.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>

    }
</table>

