
@{
    ViewData["Title"] = "GetMovieBySearch";
}

@model Movies

<h1 class="blink">Searched Movies</h1>

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rated</th>
        <th>Released</th>
        <th>Actors</th>
        <th>Director</th>

    </tr>
    <tr>
        <td class="title">@Model.Title</td>
        <td class="year">@Model.Year</td>
        <td class="rated">@Model.Rated</td>
        <td class="released">@Model.Released</td>
        <td class="actors">@Model.Actors</td>
        <td class="director">@Model.Director</td>

    </tr>

</table>
<form action="../FavoriteMovies/AddToFavorites" method="post">
    <input type="hidden" name="Title" value="@Model.Title" />
    <input type="hidden" name="Year" value="@Model.Year" />
    <input type="hidden" name="Rated" value="@Model.Rated" />
    <input type="hidden" name="Released" value="@Model.Released" />
    <input type="hidden" name="Actors" value="@Model.Actors" />
    <input type="hidden" name="Director" value="@Model.Director" />
    <input type="hidden" name="UserID" value="@ViewBag.UserId" />

    <input type="submit" name="submit" class="btn btn-warning" value="Sav as Fav" />


</form>
<br />
<a href="../FavoriteMovies/GetMovieBySearch" class="btn alert-danger">Search Again</a>